{{ form_start(form) }}
    <div class="flex flex-col mt-4">
        <label for="{{ field_name(form.title) }}" class="font-semibold text-sm">
            {{ field_label(form.title) }}
        </label>
        <input
                type="text"
                id="{{ field_name(form.title) }}"
                name="{{ field_name(form.title) }}"
                value="{{ field_value(form.title) }}"
                placeholder="e.g. Make the best to-do app"
                required="required"
                class="bg-zinc-50 text-zinc-800 rounded-md py-2 px-4 mt-1"
        >
    </div>

    <div class="flex flex-col mt-4">
        <label for="{{ field_name(form.description) }}" class="font-semibold text-sm">
            {{ field_label(form.description) }}
        </label>
        <textarea
                id="{{ field_name(form.description) }}"
                name="{{ field_name(form.description) }}"
                placeholder="e.g. I need to make the best to-do app in the world. I will use Symfony and TailwindCSS."
                class="bg-zinc-50 text-zinc-800 rounded-md py-2 px-4 mt-1"
        >{{ field_value(form.description) }}</textarea>
    </div>

    <div class="flex flex-col mt-4">
        <label for="{{ field_name(form.date) }}" class="font-semibold text-sm">
            {{ field_label(form.date) }}
        </label>
        <input
                type="date"
                id="{{ field_name(form.date) }}"
                name="{{ field_name(form.date) }}"
                value="{{ field_value(form.date) }}"
                placeholder="{{ field_label(form.date) }}"
                required="required"
                class="bg-zinc-50 text-zinc-700 rounded-md py-2 px-4 mt-1"
        >
    </div>

    <div class="flex items-center space-x-4 mt-4">
        <div class="w-full flex flex-col mt-4">
            <label for="{{ field_name(form.category) }}" class="font-semibold text-sm">
                {{ field_label(form.category) }}
            </label>

            <select id="{{ field_name(form.category) }}" name="{{ field_name(form.category) }}" class="bg-zinc-50 text-zinc-700 rounded-md py-2 px-4 mt-1" required>
                {% for label, value in field_choices(form.category) %}
                    <option value="{{ value }}" {% if value == task.category.id %}selected{% endif %}>
                        {{ label }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div class="w-full flex flex-col mt-4">
            <label for="{{ field_name(form.state) }}" class="font-semibold text-sm">
                {{ field_label(form.state) }}
            </label>

            <select id="{{ field_name(form.state) }}" name="{{ field_name(form.state) }}" class="bg-zinc-50 text-zinc-700 rounded-md py-2 px-4 mt-1" required>
                {% for label, value in field_choices(form.state) %}
                    <option value="{{ value }}" {% if value == task.state %}selected{% endif %}>
                        {{ label }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="flex flex-col mt-4">
{#        <label for="{{ field_name(form.users) }}" class="font-semibold text-sm">#}
{#            {{ field_label(form.users) }}#}
{#        </label>#}

        {{ form_widget(form.users) }}

{#        <select id="{{ field_name(form.users) }}" name="{{ field_name(form.users) }}" class="form-control">#}
{#            <option value="">{{ field_label(form.users) }}</option>#}

{#            {% for label, value in field_choices(form.users) %}#}
{#                <option value="{{ value }}">{{ label }}</option>#}
{#            {% endfor %}#}
{#        </select>#}
    </div>

    <button class="text-sm font-semibold bg-indigo-500 text-white rounded-md py-2 px-4 inline-block mt-4 flex items-center">
        <i data-lucide="save" class="size-4 mr-2"></i>
        <p>{{ button_label|default('Save') }}</p>
    </button>
{{ form_end(form) }}
